include ./mixin/header
include ./mixin/radioCrypto

doctype html
html(lang='en', data-bs-theme='dark')
    head
        meta(charset='utf-8')
        title Configuration du secret
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
        link(rel='icon', type='image/x-icon', href='img/favicon.ico')
        link(href='assets/plugins/@fortawesome/fontawesome-free/css/all.min.css', rel='stylesheet')
        link(href='assets/plugins/bootstrap-icons/font/bootstrap-icons.css', rel='stylesheet')
        link(href='assets/plugins/jquery-ui-dist/jquery-ui.min.css', rel='stylesheet')
        link(href='assets/plugins/animate.css/animate.min.css', rel='stylesheet')
        link(href='assets/plugins/pace-js/themes/black/pace-theme-flash.css', rel='stylesheet')
        link(href='assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css', rel='stylesheet')
        link(href='assets/plugins/jvectormap-next/jquery-jvectormap.css', rel='stylesheet')
        link(href='assets/css/app.min.css', rel='stylesheet')
        link(href='css/home.css', rel='stylesheet')
    body.theme-red
        #app.app.app-sidebar-collapsed.app-footer-fixed
            +header()
            #content.app.app-content
                .row
                    .col-4
                    .col-4
                        .card.mb-3
                            .card-body
                                img.card-img-top(src=qrUrl, alt='QRCode Secret')
                            .card-arrow
                                .card-arrow-top-left
                                .card-arrow-top-right
                                .card-arrow-bottom-left
                                .card-arrow-bottom-right
                            .card-body
                                h5.card-title Veuillez scanner le QR code ci-dessus dans votre application avant d'appuyer sur continuer.
                                .mb-3
                                    p.card-text Alternativement, vous pouvez entrer manuellement ce code pour l'ajouter
                                    p.card-text=secret
                                a.btn.btn-outline-theme.btn-lg.d-block.w-100.fw-500.mb-3a(href='/setupMFA') Continuer
                            .card-arrow
                                .card-arrow-top-left
                                .card-arrow-top-right
                                .card-arrow-bottom-left
                                .card-arrow-bottom-right
                    .col-4
            a.btn-scroll-top.fade(href='#', data-toggle='scroll-to-top')
                i.fa.fa-arrow-up

            #footer.app-footer
                p @ 2023 Cryptova, tous droits réservés
        script(src='assets/plugins/pace-js/pace.min.js')
        script(src='assets/plugins/jquery/dist/jquery.min.js')
        script(src='assets/plugins/jquery-ui-dist/jquery-ui.min.js')
        script(src='assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')
        script(src='assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js')
        script(src='assets/plugins/js-cookie/dist/js.cookie.min.js')
        script(src='assets/plugins/jvectormap-next/jquery-jvectormap.min.js')
        script(src='assets/plugins/jvectormap-content/world-mill.js')
        script(src='assets/plugins/chart.js/dist/chart.umd.js')
        script(src='assets/plugins/apexcharts/dist/apexcharts.min.js')
        script(src='assets/js/app.min.js')